html {
    font-size: 18px;
    @include tablet {
        font-size: 16px;
    }
    @include desktop {
        font-size: 18px;
    }
}

.sticky	{
    position: sticky;
    top: 26px;
}

.footer {
    padding: 0rem 0rem 0rem;
}

