<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" defer ></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
		<link rel="stylesheet" href="/main.css">
	</head>
	<body>
		<div class="hero is-info">
			<div class="hero-body">
				<div class="container">
					<h1 class="title">{{ page.title }}</h1>
					<h2 class="subtitle">{{ page.subtitle }}</h2>
				</div>
			</div>
		</div>
		<div class="columns">
			<div class="column is-3">
				<aside class="box menu">
					<p class="menu-label">
					Contents
					</p>
					<ul class="menu-list">
						<li><a href="/">Home</a></li>
						<li><a href="publications.html">Publications</a></li>
						<li><a href="#">Projects</a>
							<ul>
								<li><a href="https://github.com/i-yamane/uplift">Uplift modeling</a></li>
								<li><a href="https://gitlab.com/yamane.ikko/MTPCA">Multi-task learning</a></li>
								<!-- <li><a href="#">Weakly supervised learning</a></li> -->
								<li><a href="https://github.com/takashiishida/flooding">Regularization</a></li>
								<!-- <li><a href="#">Deep Learning</a></li> -->
							</ul>
						</li>
					</ul>
					<p class="menu-label">
					Other links
					</p>
					<ul class="menu-list">
						<li><a href="http://www.ms.k.u-tokyo.ac.jp">Sugiyama-Honda-Yokoya Lab</a></li>
						<li><a href="https://www.u-tokyo.ac.jp/en">UTokyo</a></li>
						<li><a href="https://aip.riken.jp/">RIKEN AIP</a></li>
					</ul>
				</aside>
			</div>
			<div class="container column">

				{{ content }}

			</div><!-- /.container -->
		</div>
		<footer class="footer">
			<div class="container">
				<div class="columns has-text-centered">
					<div class="column">
						<a href="mailto:yamane.ikko@gmail.com">Email</a>
					</div>
					<div class="column">
						<a href="https://github.com/i-yamane">GitHub</a>
					</div>
					<div class="column">
						<a href="https://gitlab.com/yamane.ikko">GitLab</a>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>
